/* Reset some default styles */
body,
th,
td {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 20px;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #333;
	color: #fff;
	text-align: center;
}

h1 {
	color: #4caf50; /* Accent color for headings */
}

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	border: 1px solid #555; /* Darker border color */
}

th {
	background-color: #222; /* Dark background for header cells */
	color: #fff;
}

td {
	background-color: #333; /* Dark background for data cells */
}

input[type="text"],
input[type="number"],
input[type="submit"] {
	padding: 8px;
	margin: 5px;
	border: 1px solid #666; /* Darker border color */
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff; /* Text color */
	background-color: #444; /* Dark background for input fields */
}

input[type="submit"] {
	background-color: #4caf50;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

/* Add some spacing for better readability */
.margin-bottom {
	margin-bottom: 16px;
}

.error-container {
	color: #fff;
	justify-content: center;
	background-color: #ff3333;
	padding: 10px;
	margin: 10px auto;
	display: none; /* Initially hide the error container */
}
